## Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### A database is a structured collection of data that is organized and managed in a way that allows for efficient storage, retrieval, and modification of that data. Databases are essential for many modern applications, including web applications, mobile apps, and enterprise systems.

#### **SQL** (Structured Query Language) and NoSQL (Not Only SQL) are two different types of databases that differ in their data models, storage structures, and query languages.

#### **SQL** databases are relational databases that store data in tables with predefined columns and data types. SQL databases use a schema to define the structure of the data, and all data must adhere to this schema. SQL databases use SQL to query, manipulate, and retrieve data. Some popular SQL databases include MySQL, Oracle, and PostgreSQL.

#### **NoSQ**L databases, on the other hand, do not rely on tables or a fixed schema. Instead, they store data in a variety of formats, including key-value pairs, documents, and graphs. NoSQL databases are designed to be flexible and scalable, making them well-suited for large-scale applications that require high performance and the ability to handle large volumes of unstructured data. Some popular NoSQL databases include MongoDB, Cassandra, and Redis.
#### The choice between SQL and NoSQL databases depends on the specific requirements of the application. SQL databases are ideal for applications that require complex querying and data analysis, while NoSQL databases are better suited for applications that require high scalability and performance with unstructured data.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### **DDL** (Data Definition Language) is a subset of SQL (Structured Query Language) used to define the structure of a database, including tables, indexes, and constraints.

#### The four primary DDL statements are CREATE, DROP, ALTER, and TRUNCATE.

#### **CREATE** : CREATE is used to create a new database object, such as a table or index. For example, to create a new table named "customers" with columns for name, address, and phone number, you would use the following SQL statement:

In [ ]:
CREATE TABLE customers (
  name VARCHAR(50),
  address VARCHAR(100),
  phone VARCHAR(20)
);

#### **DROP** : DROP is used to remove an existing database object, such as a table or index. For example, to drop the "customers" table created above, you would use the following SQL statement:

In [ ]:
DROP TABLE customers;

#### **ALTER ** : ALTER is used to modify the structure of an existing database object, such as a table or index. For example, to add a new column named "email" to the "customers" table created above, you would use the following SQL statement:

In [ ]:
ALTER TABLE customers ADD email VARCHAR(100);

#### **TRUNCATE** : TRUNCATE is used to remove all data from an existing table while keeping its structure intact. For example, to remove all data from the "customers" table created above, you would use the following SQL statement:

In [ ]:
TRUNCATE TABLE customers;

#### These DDL statements are essential for managing the structure of a database and ensuring that it accurately reflects the requirements of the application.

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) used to manipulate the data stored in a database, including inserting, updating, and deleting records.

#### The three primary DML statements are INSERT, UPDATE, and DELETE.

#### **INSERT** : INSERT is used to add a new record to a table. For example, to add a new customer named "John Smith" with an address of "123 Main St" and a phone number of "555-1234" to the "customers" table, you would use the following SQL statement:

In [ ]:
INSERT INTO customers (name, address, phone) VALUES ('John Smith', '123 Main St', '555-1234');

#### **UPDATE** : UPDATE is used to modify the data in existing records. For example, to change the phone number of the customer named "John Smith" in the "customers" table to "555-5678", you would use the following SQL statement:

In [ ]:
UPDATE customers SET phone = '555-5678' WHERE name = 'John Smith';

#### **DELETE** : DELETE is used to remove one or more records from a table. For example, to delete the customer named "John Smith" from the "customers" table, you would use the following SQL statement:

In [ ]:
DELETE FROM customers WHERE name = 'John Smith';

#### These DML statements are essential for managing the data stored in a database and ensuring that it remains accurate and up-to-date.

## Q4. What is DQL? Explain SELECT with an example.

#### **DQL** (Data Query Language) is a subset of SQL (Structured Query Language) used to retrieve data from a database, including selecting specific columns, filtering, and sorting.

#### The primary DQL statement is SELECT.

#### **SELECT** : SELECT is used to retrieve data from one or more tables. It allows you to specify the columns you want to retrieve, filter the results based on specific criteria, and sort the results in a particular order.

#### For example, to retrieve the names and addresses of all customers in the "customers" table who live in the city of "New York" and sort the results by last name, you would use the following SQL statement:

In [ ]:
SELECT name, address FROM customers WHERE city = 'New York' ORDER BY last_name;

#### This statement selects the "name" and "address" columns from the "customers" table, filters the results to only include customers who live in the city of "New York", and orders the results by the "last_name" column.

## Q5. Explain Primary Key and Foreign Key.

#### A primary key and a foreign key are two essential concepts in database design that define the relationships between tables in a database.

#### A **primary key** is a column or a combination of columns that uniquely identify each row in a table. It is used to ensure that each record in the table is unique and to establish relationships with other tables. A primary key cannot contain null values and must have a unique value for each record in the table.

#### For example, in a "customers" table, the primary key could be the "customer_id" column, which assigns a unique identification number to each customer record.

#### A **foreign key** is a column or a combination of columns that refers to the primary key of another table. It is used to establish a relationship between two tables, where the foreign key in one table references the primary key in another table. A foreign key ensures that the data stored in a table is consistent with the data in another table by enforcing referential integrity.
#### For example, in an "orders" table, the "customer_id" column could be a foreign key that references the "customer_id" column in the "customers" table. This relationship ensures that each order is associated with a valid customer record in the "customers" table, preventing data inconsistencies.

#### In summary, a primary key uniquely identifies each record in a table, while a foreign key establishes relationships between tables by referring to the primary key of another table. Together, these two concepts help ensure the integrity and accuracy of data in a database

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#### To connect MySQL to Python, you can use the MySQL Connector Python module. Here's an example code snippet to establish a connection and execute a simple query:

In [ ]:
import mysql.connector

# establish a connection to the MySQL server
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="databasename"
)

# create a cursor object to execute queries
mycursor = mydb.cursor()

# execute a simple query
mycursor.execute("SELECT * FROM customers")

# fetch the results of the query
results = mycursor.fetchall()

# print the results
for row in results:
  print(row)

#### The cursor() method creates a cursor object, which is used to execute queries and fetch results from the database. The execute() method is called on the cursor object and is used to execute a SQL statement. In the example above, the SQL statement "SELECT * FROM customers" is passed to the execute() method.

#### After executing the query, the fetchall() method is called on the cursor object to retrieve all the rows of the result set. Finally, the results are printed out row by row using a for loop.

#### Note that we should replace username, password, and databasename with your own MySQL credentials and database name.

#### In summary, the cursor() method creates a cursor object that is used to execute SQL statements, and the execute() method is used to execute the SQL statement on the cursor object.

## Q7. Give the order of execution of SQL clauses in an SQL query.

#### n SQL query is executed in the following order:

#### *SELECT*
#### *FROM*
#### *JOIN* (if any)
#### *WHERE*
#### *GROUP BY*
#### *HAVING*
#### *ORDER BY*
#### Here's a brief explanation of each of these clauses:

#### **SELECT** : The SELECT clause specifies the columns that should be returned in the result set.

#### **FROM** : The FROM clause specifies the tables that the query should be performed on.

#### **JOIN** : The JOIN clause is used to combine rows from two or more tables based on a related column between them.
#### **WHERE** : The WHERE clause is used to filter the rows based on a specific condition or set of conditions.

#### **GROUP BY** : The GROUP BY clause is used to group the rows based on one or more columns.

#### **HAVING** : The HAVING clause is used to filter the grouped rows based on a specific condition or set of conditions.

#### **ORDER BY** : The ORDER BY clause is used to sort the rows in the result set based on one or more columns.