## Q1. List any five functions of the pandas library with execution.

#### here are five functions of the pandas library with example execution:

#### **read_csv**: Used to read a CSV file into a pandas DataFrame object.

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')

#### **head**: Used to display the first n rows of a DataFrame.

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head(10)

#### **describe**: Used to generate descriptive statistics of a DataFrame.

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
df.describe()

#### **groupby**: Used to group rows of a DataFrame by one or more columns, and apply a function to each group.

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
grouped_df = df.groupby('column_name')
grouped_df.mean()

#### **merge**: Used to merge two DataFrames on one or more columns.

In [ ]:
import pandas as pd
df1 = pd.read_csv('data1.csv')
df2 = pd.read_csv('data2.csv')
merged_df = pd.merge(df1, df2, on='column_name')

## Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

#### here's a Python function that re-indexes the DataFrame with a new index that starts from 1 and increments by 2 for each row:

In [1]:
import pandas as pd

def reindex_dataframe(df):
    new_index = range(1, 2 * len(df) + 1, 2) # create a new index with start=1 and increment=2
    df = df.reset_index(drop=True) # reset the existing index
    df.index = new_index # set the new index
    return df

#### we can call this function and pass our DataFrame df as an argument to re-index it:

In [2]:
df = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]})
df = reindex_dataframe(df)
print(df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

## Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

#### here's a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column:

#### we can call this function and pass our DataFrame df as an argument to calculate the sum of the first three values in the 'Values' column:

In [3]:
import pandas as pd

def sum_first_three_values(df):
    sum_three = 0
    for i, row in df.iterrows():
        if i < 3:
            sum_three += row['Values']
        else:
            break
    print(sum_three)
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three_values(df)

60

## Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [4]:
df = pd.DataF#rame({'Text': ['This is a sample sentence.', 'Here is another one.']})
df['word_count'] = df['Text'].apply(lambda x : len(x.split()))
df

                         Text  word_count
0  This is a sample sentence.           5
1        Here is another one.           4

## Q5. How are DataFrame.size() and DataFrame.shape() different?

#### Both DataFrame.size() and DataFrame.shape() are methods of Pandas DataFrame, but they return different information.

#### DataFrame.size() returns the total number of elements in a DataFrame, which is the product of the number of rows and columns in the DataFrame. In other words, it returns the total number of cells in the DataFrame.

#### DataFrame.shape() returns a tuple with the number of rows and columns in the DataFrame. For example, if a DataFrame has 10 rows and 5 columns, DataFrame.shape() will return (10, 5).

#### So, the main difference between DataFrame.size() and DataFrame.shape() is that size() returns the total number of elements in the DataFrame, while shape() returns a tuple with the number of rows and columns in the DataFrame.

## Q6. Which function of pandas do we use to read an excel file?

#### We use the pandas function read_excel() to read an Excel file in pandas. This function can read both .xls and .xlsx file formats.

## Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [6]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.doe@example.com']})
df = extract_username(df)
print(df)

                  Email  Username
0  john.doe@example.com  john.doe
1  jane.doe@example.com  jane.doe

## Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values: A B C 0 3 5 1 1 8 2 7 2 6 9 4 3 2 3 5 4 9 1 2 Your function should select the following rows: A B C 1 8 2 7 4 9 1 2 The function should return a new DataFrame that contains only the selected rows.

In [8]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

df = pd.DataFrame({
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
})

selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

## Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [9]:
import pandas as pd
df=pd.DataFrame({'Values':[1,2,3,4,5,6,7,8,9,10]})
print('mean : ',df.mean())
print('median : ',df.median())
print('standard deviation : ',df.std())

mean :  Values    5.5
dtype: float64
median :  Values    5.5
dtype: float64
standard deviation :  Values    3.02765
dtype: float64

## Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [10]:
import pandas as pd

sales_data = {
    'Sales': [100, 150, 200, 250, 300],
    'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05']
}


df = pd.DataFrame(sales_data)
df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
df

   Sales        Date  MovingAverage
0    100  2022-01-01          100.0
1    150  2022-01-02          125.0
2    200  2022-01-03          150.0
3    250  2022-01-04          175.0
4    300  2022-01-05          200.0

## Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column. For example, if df contains the following values: Date 0 2023-01-01 1 2023-01-02 2 2023-01-03 3 2023-01-04 4 2023-01-05 Your function should create the following DataFrame:

## Date Weekday 0 2023-01-01 Sunday 1 2023-01-02 Monday 2 2023-01-03 Tuesday 3 2023-01-04 Wednesday 4 2023-01-05 Thursday The function should return the modified DataFrame.

In [11]:
import pandas as pd
dates = pd.date_range(start='2023-01-01', end='2023-01-05')
df = pd.DataFrame({'Date': dates})
df['Weekday'] = df['Date'].dt.day_name()
  
df

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

## Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [12]:
import pandas as pd
dates = pd.date_range(start='2023-01-01', end='2023-02-05')
df = pd.DataFrame({'Date': dates})
df2 = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
df2

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

## Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

#### The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself. It is conventionally imported using the following statement:

#### import pandas as pd